.z-checkbox {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #08d9d6;
  z-index: 1;
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);

  &:hover {
    border: 1px solid #08d9d6;
  }

  .input-checkbox {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
}

.z-checkbox.is-checked {
  &:after {
    content: "";
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 1px;
    width: 3px;
    left: 4px;
    height: 7px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg) scaleY(1);
  }
}
